/* Estilos da página index.html */ 

.center
 {
  text-align: center;
}

.justify{
  text-align: justify;
}

.container{
display:flex;
flex-flow:row;
justify-content:center;
align-items: center;

}

.img{
display: flex;
align-items: center;

}

.tm-social {
width: 50px;
height: 50px;

}

.mb-50px{
margin-bottom: 50px;

}

.p-30{

  padding: 30px
}

#menu li{
display: inline;
padding: 20px;
}

#menu li a{
  text-decoration: none;
  color: black;
}

#menu li a:hover{
color:grey;
}

body{
  background-color:antiquewhite
}

/* o comando 'hover' serve para quando o cursor do mouse passar por cima do menu
ficar com uma cor diferente. a cor que eu escolhi acima foi cinza */


